{{ define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end }}

{{- define "content" -}}
{{ $pages := slice }}
{{ $clickMap := dict }}
{{ $pageMap := dict }}

{{ range .Site.Pages }}
  {{ $path := (urls.Parse .RelPermalink).Path }}
  {{ $pageMap = merge $pageMap (dict $path .) }}
{{ end }}

{{ range .Site.Data.clicks.pages }}
  {{ $url := .url }}
  {{ $path := (urls.Parse $url).Path }}
  {{ with index $pageMap $path }}
    {{ if and (eq .Type "post") (eq .Kind "page") }}
      {{ $pages = $pages | append . }}
      {{ $clickMap = merge $clickMap (dict .RelPermalink .clicks) }}
    {{ end }}
  {{ end }}
{{ end }}

<section id="archive" class="archive">
  <div class="archive-title">
    <p>
      点击量及排名更新于：{{ dateFormat (.Site.Params.dateFormatToUse | default "2006-01-02") .Site.Data.clicks.date }}
    </p>
  </div>

  {{ range $pages -}}
    <div class="archive-post">
      <span class="archive-post-time">
        {{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}
      </span>
      <span class="archive-post-title">
        <a href="{{ .RelPermalink }}" class="archive-post-link">
          {{ .Title }} ({{ index $clickMap .RelPermalink }})
        </a>
      </span>
    </div>
  {{- end }}
</section>
{{- end -}}
